<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!--your icon named 'icon.ico'-->
    <link rel="icon" href="../img/creative.ico">

    <title>Form3d</title>

    <!-- ihover CSS-->
    <link href="../css/ihover.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/form3d.css" rel="stylesheet">
    <!-- CSS Icons -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="home.html" title="Home">
                <img style="max-width:100px; margin-top: 0px;"
                     src="../img/Form3D_Logo.png"></a>
        </div>

        <div id="navbar" class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav">
                <li><a href="contact.html">Contact</a></li>
                <li><a href="order.html">Order</a></li>
                <li class="active"><a href="#">Images</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<!-- START THE FEATURETTES -->
<div class="container featurettes">

    <hr class="featurette-divider">

    <div class="row featurette well">

        <div class="col-sm-7">
            <h2 class="featurette-heading">Alexander Wessels <span class="text-muted">Chief Executive Badass</span></h2>

            <p class="lead">Write whatever fuzzles you want here about your self. Say how you are an engineering student
                at SJSU and your experience building sweet cars and stuff. You like mechanical shit and have fresh
                passion for 3d printing. Include your contact info in some kinda list.</p>

        </div>

        <div class="col-sm-5">
            <!-- normal -->
            <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                <div class="img"><img src="../img/3dprintedcar.png" alt="img"></div>
                <div class="info">
                    <h3>Alexander Wessels</h3>

                    <p>Co-founder and CEO</p>
                </div>
            </a></div>
            <div align="center">
                <div class="ih-item square effect3 bottom_to_top visible-xs" style="max-width: 375px;"><a>
                    <div class="img"><img src="../img/3dprintedcar.png" alt="img"></div>
                    <div class="info">
                        <h3>Alexander Wessels</h3>

                        <p>Co-founder and CEO</p>

                    </div>
                </a></div>
            </div>

            <!-- end normal -->
        </div>

    </div>

    <hr class="featurette-divider">


    <div class="row featurette well">
        <div class="col-sm-7 col-sm-push-5">
            <h2 class="featurette-heading">Evan Piccolotto <span class="text-muted">Chief Tator</span></h2>

            <p class="lead">Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. </p>
        </div>

        <div class="col-sm-5 col-sm-pull-7">
            <!-- normal -->
            <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                <div class="img"><img src="../img/3dprintedtoys.png" alt="img"></div>
                <div class="info">
                    <h3>Evan Piccolotto</h3>

                    <p>CoFounder</p>
                </div>
            </a></div>

            <div align="center">
                <div class="ih-item square effect3 bottom_to_top visible-xs" style="max-width: 375px;"><a>
                    <div class="img"><img src="../img/3dprintedtoys.png" alt="img"></div>
                    <div class="info">
                        <h3>Evan Piccolotto</h3>

                        <p>Co-CoFounder</p>

                    </div>
                </a></div>
            </div>
            <!-- end normal -->
        </div>
    </div>

    <hr class="featurette-divider">


    <!-- START THE FEATURETTES -->
    <div class="featurettes">


        <div class="row featurette well">

            <div class="col-sm-7">
                <h2 class="featurette-heading">Alexander Wessels <span class="text-muted">Chief Executive Badass</span>
                </h2>

                <p class="lead">Write whatever fuzzles you want here about your self. Say how you are an engineering
                    student at SJSU and your experience building sweet cars and stuff. You like mechanical shit and have
                    fresh passion for 3d printing. Include your contact info in some kinda list.</p>

            </div>

            <div class="col-sm-5">
                <!-- normal -->
                <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                    <div class="img"><img src="../img/3dprintingbusiness.png" alt="img"></div>
                    <div class="info">
                        <h3>Alexander Wessels</h3>

                        <p>Co-founder and CEO</p>
                    </div>
                </a></div>
                <div align="center">
                    <div class="ih-item square effect3 bottom_to_top visible-xs" style="max-width: 375px;"><a>
                        <div class="img"><img src="../img/3dprintingbusiness.png" alt="img"></div>
                        <div class="info">
                            <h3>Alexander Wessels</h3>

                            <p>Co-founder and CEO</p>

                        </div>
                    </a></div>
                </div>

                <!-- end normal -->
            </div>

        </div>

        <hr class="featurette-divider">

        <div class="row featurette well">
            <div class="col-sm-7 col-sm-push-5">
                <h2 class="featurette-heading">Evan Piccolotto <span class="text-muted">Chief Tator</span></h2>

                <p class="lead">Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                    Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. </p>
            </div>

            <div class="col-sm-5 col-sm-pull-7">
                <!-- normal -->
                <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                    <div class="img"><img src="../img/3drevolution.png" alt="img"></div>
                    <div class="info">
                        <h3>Evan Piccolotto</h3>

                        <p>CoFounder</p>
                    </div>
                </a></div>

                <div align="center">
                    <div class="ih-item square effect3 bottom_to_top visible-xs" style="max-width: 375px;"><a>
                        <div class="img"><img src="../img/3drevolution.png" alt="img"></div>
                        <div class="info">
                            <h3>Evan Piccolotto</h3>

                            <p>Co-CoFounder</p>

                        </div>
                    </a></div>
                </div>
                <!-- end normal -->
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- START THE FEATURETTES -->
        <div class="featurettes">

            <hr class="featurette-divider">

            <div class="row featurette well">

                <div class="col-sm-7">
                    <h2 class="featurette-heading">Alexander Wessels <span
                            class="text-muted">Chief Executive Badass</span></h2>

                    <p class="lead">Write whatever fuzzles you want here about your self. Say how you are an engineering
                        student at SJSU and your experience building sweet cars and stuff. You like mechanical shit and
                        have fresh passion for 3d printing. Include your contact info in some kinda list.</p>

                </div>

                <div class="col-sm-5">
                    <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                        <div class="img"><img src="../img/aerospace.png" alt="img"></div>
                        <div class="info">
                            <h3>Alexander Wessels</h3>

                            <p>Co-founder and CEO</p>
                        </div>
                    </a></div>
                    <div align="center">
                        <div class="ih-item square effect3 bottom_to_top visible-xs" style="max-width: 375px;"><a>
                            <div class="img"><img src="../img/aerospace.png" alt="img"></div>
                            <div class="info">
                                <h3>Alexander Wessels</h3>

                                <p>Co-founder and CEO</p>

                            </div>
                        </a></div>
                    </div>

                    <!-- end normal -->
                </div>

            </div>

            <hr class="featurette-divider">

            <div class="row featurette well">
                <div class="col-sm-7 col-sm-push-5">
                    <h2 class="featurette-heading">Evan Piccolotto <span class="text-muted">Chief Tator</span></h2>

                    <p class="lead">Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                        Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. </p>
                </div>

                <div class="col-sm-5 col-sm-pull-7">
                    <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                        <div class="img"><img src="../img/beautyofnature.png" alt="img"></div>
                        <div class="info">
                            <h3>Evan Piccolotto</h3>

                            <p>CoFounder</p>
                        </div>
                    </a></div>

                    <div align="center">
                        <div class="ih-item square effect3 bottom_to_top visible-xs" style="max-width: 375px;"><a>
                            <div class="img"><img src="../img/beautyofnature.png" alt="img"></div>
                            <div class="info">
                                <h3>Evan Piccolotto</h3>

                                <p>Co-CoFounder</p>

                            </div>
                        </a></div>
                    </div>
                    <!-- end normal -->
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- START THE FEATURETTES -->
            <div class="featurettes">

                <div class="row featurette well">

                    <div class="col-sm-7">
                        <h2 class="featurette-heading">Alexander Wessels <span
                                class="text-muted">Chief Executive Badass</span></h2>

                        <p class="lead">Write whatever fuzzles you want here about your self. Say how you are an
                            engineering student at SJSU and your experience building sweet cars and stuff. You like
                            mechanical shit and have fresh passion for 3d printing. Include your contact info in some
                            kinda list.</p>

                    </div>

                    <div class="col-sm-5">
                        <!-- normal -->
                        <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                            <div class="img"><img src="../img/computersandprinting.png" alt="img"></div>
                            <div class="info">
                                <h3>Alexander Wessels</h3>

                                <p>Co-founder and CEO</p>
                            </div>
                        </a></div>
                        <div align="center">
                            <div class="ih-item square effect3 bottom_to_top visible-xs" style="max-width: 375px;"><a>
                                <div class="img"><img src="../img/computersandprinting.png" alt="img"></div>
                                <div class="info">
                                    <h3>Alexander Wessels</h3>

                                    <p>Co-founder and CEO</p>

                                </div>
                            </a></div>
                        </div>

                        <!-- end normal -->
                    </div>

                </div>

                <hr class="featurette-divider">

                <div class="row featurette well">
                    <div class="col-sm-7 col-sm-push-5">
                        <h2 class="featurette-heading">Evan Piccolotto <span class="text-muted">Chief Tator</span></h2>

                        <p class="lead">Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                            Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. </p>
                    </div>

                    <div class="col-sm-5 col-sm-pull-7">
                        <!-- normal -->
                        <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                            <div class="img"><img src="../img/diversity.png" alt="img"></div>
                            <div class="info">
                                <h3>Evan Piccolotto</h3>

                                <p>CoFounder</p>
                            </div>
                        </a></div>

                        <div align="center">
                            <div class="ih-item square effect3 bottom_to_top visible-xs" style="max-width: 375px;"><a>
                                <div class="img"><img src="../img/diversity.png" alt="img"></div>
                                <div class="info">
                                    <h3>Evan Piccolotto</h3>

                                    <p>Co-CoFounder</p>

                                </div>
                            </a></div>
                        </div>
                        <!-- end normal -->
                    </div>
                </div>

                <hr class="featurette-divider">

                <!-- START THE FEATURETTES -->
                <div class="featurettes">

                    <div class="row featurette well">

                        <div class="col-sm-7">
                            <h2 class="featurette-heading">Alexander Wessels <span class="text-muted">Chief Executive Badass</span>
                            </h2>

                            <p class="lead">Write whatever fuzzles you want here about your self. Say how you are an
                                engineering student at SJSU and your experience building sweet cars and stuff. You like
                                mechanical shit and have fresh passion for 3d printing. Include your contact info in
                                some kinda list.</p>

                        </div>

                        <div class="col-sm-5">
                            <!-- normal -->
                            <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                <div class="img"><img src="../img/dreams.png" alt="img"></div>
                                <div class="info">
                                    <h3>Alexander Wessels</h3>

                                    <p>Co-founder and CEO</p>
                                </div>
                            </a></div>
                            <div align="center">
                                <div class="ih-item square effect3 bottom_to_top visible-xs" style="max-width: 375px;">
                                    <a>
                                        <div class="img"><img src="../img/dreams.png" alt="img"></div>
                                        <div class="info">
                                            <h3>Alexander Wessels</h3>

                                            <p>Co-founder and CEO</p>

                                        </div>
                                    </a></div>
                            </div>

                            <!-- end normal -->
                        </div>

                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette well">
                        <div class="col-sm-7 col-sm-push-5">
                            <h2 class="featurette-heading">Evan Piccolotto <span class="text-muted">Chief Tator</span>
                            </h2>

                            <p class="lead">Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                                Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. </p>
                        </div>

                        <div class="col-sm-5 col-sm-pull-7">
                            <!-- normal -->
                            <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                <div class="img"><img src="../img/drinkinginconcerts.png" alt="img"></div>
                                <div class="info">
                                    <h3>Evan Piccolotto</h3>

                                    <p>CoFounder</p>
                                </div>
                            </a></div>

                            <div align="center">
                                <div class="ih-item square effect3 bottom_to_top visible-xs" style="max-width: 375px;">
                                    <a>
                                        <div class="img"><img src="../img/drinkinginconcerts.png" alt="img"></div>
                                        <div class="info">
                                            <h3>Evan Piccolotto</h3>

                                            <p>Co-CoFounder</p>

                                        </div>
                                    </a></div>
                            </div>
                            <!-- end normal -->
                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <!-- START THE FEATURETTES -->
                    <div class="featurettes">

                        <div class="row featurette well">

                            <div class="col-sm-7">
                                <h2 class="featurette-heading">Alexander Wessels <span class="text-muted">Chief Executive Badass</span>
                                </h2>

                                <p class="lead">Write whatever fuzzles you want here about your self. Say how you are an
                                    engineering student at SJSU and your experience building sweet cars and stuff. You
                                    like mechanical shit and have fresh passion for 3d printing. Include your contact
                                    info in some kinda list.</p>

                            </div>

                            <div class="col-sm-5">
                                <!-- normal -->
                                <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                    <div class="img"><img src="../img/gamesunited.png" alt="img"></div>
                                    <div class="info">
                                        <h3>Alexander Wessels</h3>

                                        <p>Co-founder and CEO</p>
                                    </div>
                                </a></div>
                                <div align="center">
                                    <div class="ih-item square effect3 bottom_to_top visible-xs"
                                         style="max-width: 375px;"><a>
                                        <div class="img"><img src="../img/gamesunited.png" alt="img"></div>
                                        <div class="info">
                                            <h3>Alexander Wessels</h3>

                                            <p>Co-founder and CEO</p>

                                        </div>
                                    </a></div>
                                </div>

                                <!-- end normal -->
                            </div>

                        </div>

                        <hr class="featurette-divider">

                        <div class="row featurette well">
                            <div class="col-sm-7 col-sm-push-5">
                                <h2 class="featurette-heading">Evan Piccolotto <span
                                        class="text-muted">Chief Tator</span></h2>

                                <p class="lead">Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                                    Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                                    Potatoe. </p>
                            </div>

                            <div class="col-sm-5 col-sm-pull-7">
                                <!-- normal -->
                                <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                    <div class="img"><img src="../img/imagination.png" alt="img"></div>
                                    <div class="info">
                                        <h3>Evan Piccolotto</h3>

                                        <p>CoFounder</p>
                                    </div>
                                </a></div>

                                <div align="center">
                                    <div class="ih-item square effect3 bottom_to_top visible-xs"
                                         style="max-width: 375px;"><a>
                                        <div class="img"><img src="../img/imagination.png" alt="img"></div>
                                        <div class="info">
                                            <h3>Evan Piccolotto</h3>

                                            <p>Co-CoFounder</p>

                                        </div>
                                    </a></div>
                                </div>
                                <!-- end normal -->
                            </div>
                        </div>

                        <hr class="featurette-divider">

                        <!-- START THE FEATURETTES -->
                        <div class="featurettes">

                            <div class="row featurette well">

                                <div class="col-sm-7">
                                    <h2 class="featurette-heading">Alexander Wessels <span class="text-muted">Chief Executive Badass</span>
                                    </h2>

                                    <p class="lead">Write whatever fuzzles you want here about your self. Say how you
                                        are an engineering student at SJSU and your experience building sweet cars and
                                        stuff. You like mechanical shit and have fresh passion for 3d printing. Include
                                        your contact info in some kinda list.</p>

                                </div>

                                <div class="col-sm-5">
                                    <!-- normal -->
                                    <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                        <div class="img"><img src="../img/innovation.png" alt="img"></div>
                                        <div class="info">
                                            <h3>Alexander Wessels</h3>

                                            <p>Co-founder and CEO</p>
                                        </div>
                                    </a></div>
                                    <div align="center">
                                        <div class="ih-item square effect3 bottom_to_top visible-xs"
                                             style="max-width: 375px;"><a>
                                            <div class="img"><img src="../img/innovation.png" alt="img"></div>
                                            <div class="info">
                                                <h3>Alexander Wessels</h3>

                                                <p>Co-founder and CEO</p>

                                            </div>
                                        </a></div>
                                    </div>

                                    <!-- end normal -->
                                </div>

                            </div>

                            <hr class="featurette-divider">

                            <div class="row featurette well">
                                <div class="col-sm-7 col-sm-push-5">
                                    <h2 class="featurette-heading">Evan Piccolotto <span
                                            class="text-muted">Chief Tator</span></h2>

                                    <p class="lead">Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                                        Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                                        Potatoe. </p>
                                </div>

                                <div class="col-sm-5 col-sm-pull-7">
                                    <!-- normal -->
                                    <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                        <div class="img"><img src="../img/instruments.png" alt="img"></div>
                                        <div class="info">
                                            <h3>Evan Piccolotto</h3>

                                            <p>CoFounder</p>
                                        </div>
                                    </a></div>

                                    <div align="center">
                                        <div class="ih-item square effect3 bottom_to_top visible-xs"
                                             style="max-width: 375px;"><a>
                                            <div class="img"><img src="../img/instruments.png" alt="img"></div>
                                            <div class="info">
                                                <h3>Evan Piccolotto</h3>

                                                <p>Co-CoFounder</p>

                                            </div>
                                        </a></div>
                                    </div>
                                    <!-- end normal -->
                                </div>
                            </div>

                            <hr class="featurette-divider">

                            <!-- /END THE FEATURETTES -->

                            <!-- START THE FEATURETTES -->
                            <div class="featurettes">

                                <div class="row featurette well">

                                    <div class="col-sm-7">
                                        <h2 class="featurette-heading">Alexander Wessels <span class="text-muted">Chief Executive Badass</span>
                                        </h2>

                                        <p class="lead">Write whatever fuzzles you want here about your self. Say how
                                            you
                                            are an engineering student at SJSU and your experience building sweet cars
                                            and
                                            stuff. You like mechanical shit and have fresh passion for 3d printing.
                                            Include
                                            your contact info in some kinda list.</p>

                                    </div>

                                    <div class="col-sm-5">
                                        <!-- normal -->
                                        <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                            <div class="img"><img src="../img/minecraft.png" alt="img"></div>
                                            <div class="info">
                                                <h3>Alexander Wessels</h3>

                                                <p>Co-founder and CEO</p>
                                            </div>
                                        </a></div>
                                        <div align="center">
                                            <div class="ih-item square effect3 bottom_to_top visible-xs"
                                                 style="max-width: 375px;"><a>
                                                <div class="img"><img src="../img/minecraft.png" alt="img"></div>
                                                <div class="info">
                                                    <h3>Alexander Wessels</h3>

                                                    <p>Co-founder and CEO</p>

                                                </div>
                                            </a></div>
                                        </div>

                                        <!-- end normal -->
                                    </div>

                                </div>

                                <hr class="featurette-divider">

                                <div class="row featurette well">
                                    <div class="col-sm-7 col-sm-push-5">
                                        <h2 class="featurette-heading">Evan Piccolotto <span
                                                class="text-muted">Chief Tator</span></h2>

                                        <p class="lead">Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                                            Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                                            Potatoe.
                                            Potatoe. </p>
                                    </div>

                                    <div class="col-sm-5 col-sm-pull-7">
                                        <!-- normal -->
                                        <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                            <div class="img"><img src="../img/minions.png" alt="img"></div>
                                            <div class="info">
                                                <h3>Evan Piccolotto</h3>

                                                <p>CoFounder</p>
                                            </div>
                                        </a></div>

                                        <div align="center">
                                            <div class="ih-item square effect3 bottom_to_top visible-xs"
                                                 style="max-width: 375px;"><a>
                                                <div class="img"><img src="../img/minions.png" alt="img"></div>
                                                <div class="info">
                                                    <h3>Evan Piccolotto</h3>

                                                    <p>Co-CoFounder</p>

                                                </div>
                                            </a></div>
                                        </div>
                                        <!-- end normal -->
                                    </div>
                                </div>

                                <hr class="featurette-divider">

                                <!-- /END THE FEATURETTES -->

                                <!-- START THE FEATURETTES -->
                                <div class="featurettes">

                                    <div class="row featurette well">

                                        <div class="col-sm-7">
                                            <h2 class="featurette-heading">Alexander Wessels <span class="text-muted">Chief Executive Badass</span>
                                            </h2>

                                            <p class="lead">Write whatever fuzzles you want here about your self. Say
                                                how you
                                                are an engineering student at SJSU and your experience building sweet
                                                cars and
                                                stuff. You like mechanical shit and have fresh passion for 3d printing.
                                                Include
                                                your contact info in some kinda list.</p>

                                        </div>

                                        <div class="col-sm-5">
                                            <!-- normal -->
                                            <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                                <div class="img"><img src="../img/music.png" alt="img"></div>
                                                <div class="info">
                                                    <h3>Alexander Wessels</h3>

                                                    <p>Co-founder and CEO</p>
                                                </div>
                                            </a></div>
                                            <div align="center">
                                                <div class="ih-item square effect3 bottom_to_top visible-xs"
                                                     style="max-width: 375px;"><a>
                                                    <div class="img"><img src="../img/music.png" alt="img"></div>
                                                    <div class="info">
                                                        <h3>Alexander Wessels</h3>

                                                        <p>Co-founder and CEO</p>

                                                    </div>
                                                </a></div>
                                            </div>

                                            <!-- end normal -->
                                        </div>

                                    </div>

                                    <hr class="featurette-divider">

                                    <div class="row featurette well">
                                        <div class="col-sm-7 col-sm-push-5">
                                            <h2 class="featurette-heading">Evan Piccolotto <span
                                                    class="text-muted">Chief Tator</span></h2>

                                            <p class="lead">Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                                                Potatoe.
                                                Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe. Potatoe.
                                                Potatoe.
                                                Potatoe. </p>
                                        </div>

                                        <div class="col-sm-5 col-sm-pull-7">
                                            <!-- normal -->
                                            <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                                <div class="img"><img src="../img/spaceexploration.png" alt="img"></div>
                                                <div class="info">
                                                    <h3>Evan Piccolotto</h3>

                                                    <p>CoFounder</p>
                                                </div>
                                            </a></div>

                                            <div align="center">
                                                <div class="ih-item square effect3 bottom_to_top visible-xs"
                                                     style="max-width: 375px;"><a>
                                                    <div class="img"><img src="../img/spaceexploration.png" alt="img">
                                                    </div>
                                                    <div class="info">
                                                        <h3>Evan Piccolotto</h3>

                                                        <p>Co-CoFounder</p>

                                                    </div>
                                                </a></div>
                                            </div>
                                            <!-- end normal -->
                                        </div>
                                    </div>

                                    <hr class="featurette-divider">

                                </div>
                                <!-- /END THE FEATURETTES -->

                                <!-- START THE FEATURETTES -->
                                <div class="featurettes">

                                    <div class="row featurette well">

                                        <div class="col-sm-7">
                                            <h2 class="featurette-heading">Alexander Wessels <span class="text-muted">Chief Executive Badass</span>
                                            </h2>

                                            <p class="lead">Write whatever fuzzles you want here about your self. Say
                                                how you
                                                are an engineering student at SJSU and your experience building sweet
                                                cars and
                                                stuff. You like mechanical shit and have fresh passion for 3d printing.
                                                Include
                                                your contact info in some kinda list.</p>

                                        </div>

                                        <div class="col-sm-5">
                                            <!-- normal -->
                                            <div class="ih-item square effect3 bottom_to_top hidden-xs"><a>
                                                <div class="img"><img src="../img/stateoftheart.png" alt="img"></div>
                                                <div class="info">
                                                    <h3>Alexander Wessels</h3>

                                                    <p>Co-founder and CEO</p>
                                                </div>
                                            </a></div>
                                            <div align="center">
                                                <div class="ih-item square effect3 bottom_to_top visible-xs"
                                                     style="max-width: 375px;"><a>
                                                    <div class="img"><img src="../img/stateoftheart.png" alt="img">
                                                    </div>
                                                    <div class="info">
                                                        <h3>Alexander Wessels</h3>

                                                        <p>Co-founder and CEO</p>

                                                    </div>
                                                </a></div>
                                            </div>

                                            <!-- end normal -->
                                        </div>

                                    </div>

                                    <hr class="featurette-divider">

                                    </div>


                                <div class="container" align="center">

                                    <div class="row">
                                        <br/><br/><br/>
                                        <a href="https://www.facebook.com/Form3Dprinting" target="_blank">
                                            <i class="fa fa-facebook-square fa-4x" style="color:#3b5998"></i>
                                        </a>
                                        <a href="http://www.reddit.com/" target="_blank">
                                            <i class="fa fa-reddit-square fa-4x" style="color:#900020"></i>
                                        </a>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="fa fa-twitter-square fa-4x" style="color:#4099FF"></i>
                                        </a>
                                        <a href='https://plus.google.com/' target="_blank">
                                            <i class="fa fa-google-plus-square fa-4x" style="color:#d34836"></i>
                                        </a>
                                    </div>

                                <br/>

                                <div class="masfoot" align="center">
                                    <div class="inner">
                                        <p>Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2015 <a  class="copylink" href="http://www.form3d.net/">form3d</a></p>
                                    </div>
                                </div>
                                </div>




                                <!-- Bootstrap core JavaScript
                                ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
